.DS_Store
*.iml
*.ipr
*.iws
.idea/
.kotlin/

.gradle/
build/
captures/
externalNativeBuild/
local.properties

**/build/
**/.cxx/
**/*.apk
**/*.aab
**/*.dex
**/*.class

# Keystore
*.jks
*.keystore

# Android Studio generated
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/dictionaries
/.idea/**/libraries
/.idea/**/shelf

# Lint
lint-results*.html
lint-results*.xml
lint-results*.txt

